* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #333;
    line-height: 75px;
    padding: 0px 100px;
    /*position: fixed;*/
    z-index: 1;
}

nav .logo {
    font-size: 30px;
    font-weight: bold;
}

nav .logo a {
    float: left;
    color: #fff;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 30px;
}

/*nav ul li a:hover {
    color: #fff;
}*/

/*.image img {
    width: 100%;
    height: auto;
    position: relative;
}*/

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("images/thor.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    width: 600px;
    height: auto;
    bottom: 10vh;
    left: 5vw;
}

.hero-content .hero-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-content .hero-description {
    font-size: 18px;
}

.hero-content {
    color: #fff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    /*color: #fff;*/
    text-align: center;
}

.footer a {
    padding: 0px 30px;
    color: #fff;
}

@media (min-width: 768px) {
    .hero-content .hero-title {
        font-size: 25px;
    }
}

@media (min-width: 600px) {
    .hero-content .hero-title {
        font-size: 35px;
    }
}

@media all and (max-width: 480px) {
    nav {
        background-color: yellow;
    }

    nav .logo a {
        float: left;
        color: #000000;
    }

    nav ul li a {
        color: #000000;
    }
}

@media (min-width: 600px) and (max-width: 991px) {
    nav {
        background-color: lightgreen;
    }

    nav .logo a {
        float: left;
        color: #000000;
    }

    nav ul li a {
        color: #000000;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    nav {
        background-color: red;
    }

    nav .logo a {
        float: left;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }
}

@media (min-width: 1200px) {
    nav {
        background-color: black;
    }

    nav .logo a {
        float: left;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }
}